

.img-gray {
  ::ng-deep img {
    filter: grayscale(100%);
  }
}

.detail-size {
  width: 100%;
}

.list-link {
  display: inline-block;
  border: none !important;

  li {
    display: inline-block;
  }
}

.portfolio-details-area {
  position: relative;
  min-height: 600px;
}

a {
  color: #0d0a0a;
  text-decoration: none;


}
