<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="section-title text-center">
      <h2>WHAT I PROVIDE</h2>
      <p>Here is the services which i know & provide all the time</p>
    </div>
  </div>
</div>
<div class="row">
  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Backend</h5>
      <p>Expert in SQL, and Java SpringMVC, Spring Boot, and ASP.NET</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Web/Mobile</h5>
      <p>Provide Web and mobile iOS & Android solutions </p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Cloud</h5>
      <p>Outstanding in AWS, IBM cloud foundry, GKE</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Machine Learning</h5>
      <p>Excellent in Machine Learning/Artificial Intelligence </p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>DevOps</h5>
      <p>Build CI/CD pipline and write bash script</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Testing</h5>
      <p>Follow Test Driven Development and be familar with selenium.</p>
    </div>
  </div>
  <!--// Single Service -->
</div>
