<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="section-title text-center">
      <h2>SERVICES I PROVIDE</h2>
      <!--      <p>I offer a comprehensive range of expert services in software</p>-->
    </div>
  </div>
</div>
<div class="row">
  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Backend</h5>
      <p>Expert in SQL, Java Spring MVC, Spring Boot, and ASP.NET</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Web/Mobile</h5>
      <p>Crafting custom web and mobile applications for iOS and Android </p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Cloud</h5>
      <p>Proficient in AWS, Cloud Foundry, and GKE for scalable architectures</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Machine Learning</h5>
      <p>Implementing advanced ML/AI for data-driven business insights</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>DevOps</h5>
      <p>Building efficient CI/CD pipelines and automating processes with scripts</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Testing</h5>
      <p>Ensuring software quality through Test-Driven Development</p>
    </div>
  </div>
  <!--// Single Service -->
</div>
