<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="section-title text-center">
      <h2>WHAT I PROVIDE</h2>
      <p>Here is the services which i know & provide all the time</p>
    </div>
  </div>
</div>
<div class="row">
  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Backend</h5>
      <p>Expert in SQL, and Java SpringMVC and Spring Boot</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Web</h5>
      <p>Master in Angular/React, Expert in HTML/CSS/JS</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Cloud</h5>
      <p>Good in AWS, IBM cloud foundry and master in Docker</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Mobile</h5>
      <p>Provide mobile iOS & Android solutions by React Native</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>DevOps</h5>
      <p>Build Jenkin or gitlab CI/CD pipline and write bash script</p>
    </div>
  </div>
  <!--// Single Service -->

  <!-- Single Service -->
  <div class="col-lg-4 col-md-6 col-12">
    <div class="service text-center">
      <h5>Testing</h5>
      <p>Follow Test Driven Development and be familar with selenium.</p>
    </div>
  </div>
  <!--// Single Service -->
</div>
