<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/logo.svg" alt="logo" class="logo-size" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/']" class="nav-link hvr-underline-from-center" href="#">HOME</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/portfolio']" class="nav-link hvr-underline-from-center" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/blog']" class="nav-link hvr-underline-from-center" href="#">BLOG</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/contact']" class="nav-link hvr-underline-from-center" href="#">CONTACT</a>
        </li>
        <!--        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:-->
        <!--true}">-->
        <!--          <a [routerLink]="['/login']" class="nav-link hvr-underline-from-center" href="#">LOGIN</a>-->
        <!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
<!--<header class="header sticky-header fixed-header">-->
<!--<header class="header sticky-header">-->
<!--  <div class="container">-->
<!--    <div class="header-inner d-none d-lg-flex">-->
<!--      <div class="header-logo">-->
<!--        <a href="../../../../../index.html" routerLink="/">-->
<!--          <img src="/assets/images/logo.svg" alt="logo" class="logo-size"/>-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="header-navigation">-->
<!--        <button class="header-navigation-trigger is-active">-->
<!--          <span></span>-->
<!--          <span></span>-->
<!--          <span></span>-->
<!--        </button>-->
<!--        <nav class="main-navigation is-visible">-->
<!--          <ul>-->
<!--            <li><a [routerLink]="['/']">HOME</a></li>-->
<!--            &lt;!&ndash;            <li><a [routerLink]="['/about-us']">ABOUT US</a></li>&ndash;&gt;-->
<!--            <li>-->
<!--              <a [routerLink]="['/portfolio']">PORTFOLIO</a>-->
<!--              &lt;!&ndash;              <ul>&ndash;&gt;-->
<!--              &lt;!&ndash;                <li><a href="portfolio-2-column.html">Portfolio 2 Column</a></li>&ndash;&gt;-->
<!--              &lt;!&ndash;                <li><a href="portfolio.html">Portfolio 3 Column</a></li>&ndash;&gt;-->
<!--              &lt;!&ndash;                <li><a href="portfolio-4-column.html">Portfolio 4 Column</a></li>&ndash;&gt;-->
<!--              &lt;!&ndash;                <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>&ndash;&gt;-->
<!--              &lt;!&ndash;                <li><a href="portfolio-details.html">Portfolio Details</a></li>&ndash;&gt;-->
<!--              &lt;!&ndash;              </ul>&ndash;&gt;-->
<!--            </li>-->
<!--            &lt;!&ndash;            <li><a  [routerLink]="['/blog']">BLOG</a>&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;              <ul>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                <li><a href="blog.html">Blog Fullwidth</a></li>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                <li><a href="blog-details.html">Blog Details</a>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                  <ul>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                    <li><a href="blog-details.html">Blog Details</a>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                    <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                    <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                  </ul>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                </li>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;              </ul>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;            </li>&ndash;&gt;-->
<!--            <li><a [routerLink]="['/services']">SERVICES</a></li>-->
<!--            <li><a [routerLink]="['/contact']">CONTACT</a></li>-->
<!--            <li><a [routerLink]="['/login']">LOGIN</a></li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="mobile-menu-wrapper d-block d-lg-none">-->
<!--      <div class="mobile-menu clearfix">-->
<!--        &lt;!&ndash;        <a href="../../../../../index.html" class="mobile-logo">&ndash;&gt;-->
<!--        &lt;!&ndash;          <img src="/assets/images/logo/logo-dark.png" alt="mobile logo">&ndash;&gt;-->
<!--        &lt;!&ndash;        </a>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->
