.navbar{
  background: white;
  opacity: 0.8;
  box-shadow: 2px 2px 5px #d4d0cc;

  .nav-item{
    //font-size: 1.4rem;
    //padding-right: 1.4rem;
  }
}


.underline>li:hover a::before {
   //transform: scaleX(1);
}

.underline::before{
  content: '';
  position: absolute;
  left: 20px;
  top: calc(50% + 12px);
  width: calc(100% - 40px);
  height: 1px;
  background: #000;
  //transform: scaleX(0);
  transition: all .3s ease-in-out 0s;
}


a:hover {
  text-decoration: none;
}
.logo-size {
  width: 70%;
  height: 70%;
}
//ul li a:hover {
//  background: #808080 !important;
//}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
//  ul li a:hover {
//  background: #808080 !important;
//}
  .navbar-nav{
    margin-right: auto ;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  //ul li a:hover {
  //  background: #808080 !important;
  //}
  .navbar-nav{
    margin-right: auto ;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  //ul li a:hover {
  //  background: #808080 !important;
  //}
  .navbar-nav{
    margin-right: auto ;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  //ul li a:hover {
  //  background: rgba(255, 255, 255, 0) !important;
  //
  //}
  .navbar-nav{
    margin-left: auto ;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ul li a:hover {
    background: rgba(255, 255, 255, 0) !important;

  }
  .navbar-nav{
    margin-left: auto ;
  }
}





.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 400;
  background: #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  //-webkit-animation: crSlideInDown 0.5s ease-out 0s 1 both;
  animation: crSlideInDown 0.5s ease-out 0s 1 both;
}

::ng-deep .bg-light{
  background: white!important;
}

a{
  text-decoration:none;
}
