.blog-item {
  min-height: 600px;
}

.blog-item-body p {
  margin-bottom: 0;
}

.blog-item-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  position: relative;
  //padding-top: 56.25%; /* 4:3 Aspect Ratio (3 / 4 = 0.75) */
  height: 210px;
  overflow: hidden;
}

.blog-item-header a {
  position: absolute;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;
  display: block;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.blog-item-header img {
  //filter: grayscale(100%);

  position: absolute;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;
  object-fit: cover;
  object-position: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.ngx-pagination .current {
  background: #555555;
}
