<!--<app-breadcrumblayout [title]="'portfolio'">-->
  <!-- Page Conttent -->
<div class="breadcrumb-area bg-grey m-nav">
  <div class="container">
    <div class="cr-breadcrumb">
      <h2>{{ 'portfolio' | uppercase }}</h2>
      <ul>
        <li><a href="index.html" [routerLink]="['/']">Home</a></li>
        <li>{{ 'portfolio' | titlecase }}</li>
      </ul>
    </div>
  </div>
</div>
  <main class="page-content">
    <!-- Portfolios Ara -->
    <div class="cr-section portfolios-area section-padding-lg bg-white">
      <div class="container">
        <app-iloading *ngIf="portfoliosLoading$| withLoading | async  as portfoliosLoading" [isLoading]="portfoliosLoading">
          <app-portfolios ></app-portfolios>
        </app-iloading>

        <div class="row">
          <div class="col-12 text-center mt-5">
            <a class="button" data-content="View More" (click)="viewMore()">
              <span>View More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--// Portfolios Ara -->
  </main>
  <!--// Page Conttent -->
<!--</app-breadcrumblayout>-->
