.img-fluid {
  //width: 100vw;
  height: 200px;

  object-fit: cover;
}

img {
  //transition: opacity 1s;
  //opacity: 0;
  //&.ng-lazyloaded {
  //  opacity: 1;
  //}
}

.team-member {
  cursor: pointer;
}


button:focus {
  outline: none!important;
}
