<div *ngIf="cards$ | async as cards">
  <div class="portfolio-filters text-center">
    <button data-filter="*" class="is-checked">ALL</button>
    <!--      <button data-filter=".portfolio-filter-web">Web</button>-->
    <!--          <button data-filter=".portfolio-filter-photoshop">React</button>-->
    <button
      data-filter=".portfolio-filter-web"
      *ngFor="let tag of cards | tags"
      [attr.data-filter]="'.portfolio-filter-' + tag | lowercase"
    >
      {{ tag | titlecase }}
    </button>
  </div>

  <div class="row portfolios-wrapper portfolios-zoom-button-holder">
    <!-- Single Portfolio -->
    <div
      *ngFor="let card of cards"
      [ngClass]="[
        'col-md-6 col-12 portfolio-item',
        card?.tags | classArray: ' ':'portfolio-filter-' | lowercase,
        'col-lg-' + 12 / col
      ]"
    >
      <article class="blog-item " [routerLink]="['/portfolio', card.id]">
        <header class="">
          <div class="team-wrapper">
            <div class="team-member">
              <img class="img-fluid"
                   [defaultImage]="'/assets/images/place-holder.jpg'"
                   [lazyLoad]="card.image ? 'https://apiv1.sszzz.me' + card.image.replace('/image/', '/app/public/mid/') : '/assets/images/place-holder.jpg'"/>

              <div class="team-icon">
                <a href="#" [href]="card?.url"><i class="fa fa-link"></i></a>
                <a href="#" [href]="card?.gitLink" *ngIf="card?.gitLink"><i class="fa fa-git"></i></a>
                <a href="#" [href]="card?.videosLink" *ngIf="card?.videosLink"><i class="fa fa-youtube-play"></i></a>
              </div>
            </div>
          </div>
        </header>
      </article>
    </div>
    <!-- Single Portfolio -->
  </div>
</div>
