@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2 {
  font-weight: 400;
}

img {
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);

}

pre[class*="language-"] {
  max-width: calc(100vw - 2.5rem);
  //overflow-x: auto;
}
.ngx-pagination .current {
  background: #555555 !important;

}